pytest
pytest-asyncio
pytest-cov
flake8
dataclass
pydantic
pydantic-settings

# LLMs
openai>=1.10.0
google-generativeai>=0.3.2
mistralai

# traitement de texte
PyMuPDF

# LangChain RAG
langchain>=0.1.7
